  
body{
    margin: 0;
    padding: 0;
}
section{
    background-color: aqua;
}
.hero{
    background-color: #f8f8f8;
    overflow: hidden;

}
.heading h1{
    color: blue;
    font-size: 35px;
    text-align: center;
    margin-top: 35px;
}
.container{
    
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 5% auto;
}
.hero-content{
    flex: 1;
    width: 600px;
    margin: auto;
}
.hero-content h2{
    align-items: center;
    font-size: 38px;
    margin-bottom: 20px;
    color: black;

}
.hero-content p{
    font-size: 25px;
    line-height: 1.5;
    margin: 40px;
    color: #666666;
}

.hero-image{
    flex: 1;
    width: 600px;
    margin: auto;
}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;

}